

.label{
    text-transform: uppercase;
    color: #9F8096;
    font-weight: 600;
    letter-spacing: 0.15rem;
    font-size: 0.75rem;
}

.input,.textarea{
    width: 100%;
    background-color: #EDF2F7;
    padding: 0.75rem 1rem;
    line-height: 1.25;
    border-radius: 0.25rem;
    font-size: 16px;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    border: none;
    margin-top: 0.25rem;
}

.input:focus,.textarea:focus{
    background-color: white;
    border: 0.1px solid #4A5568;
}

/* .textarea{
} */

.checkBox{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    border: 0 solid #e2e8f0;
}

.saveButton{
    padding: 0.5rem 1.25rem;
    border-radius: 0.25rem;
    font-weight: 500;
    font-size: .875rem;
    cursor: pointer;
    border:none;
    color: white;
    background-color: #718096;
    margin: 1rem 0;
}

.saveButton:hover{
    background-color: #4a5568;
}

.link{
    color:#2385c7;
}
.link:hover{
    text-decoration: underline;
}